body{
	position:relative;/* 绝对定位 */
}
.main{
	margin:auto;
	width:300px;
	/* border:1px solid black; */
}
#header{
	background-color:yellow;
	margin:auto;
	width:160px;
	border:1px solid black;
}
#center{
	margin:auto;
	width:250px;
	/*height:400px;
	 float:left; 
	border:1px solid black;*/
}
/* #big{
	margin:auto;
	width:1000px;
	height:500px;
	border:1px solid black;
}
#left{
	margin-left:100px;
	margin-top:100px;
	width:100px;
	height:200px;
	float:left;
	position:absolute;相对定位
	 margin-left:20px;
	margin-top:20px;
	border:1px solid black;
}
 */