body{
	position:relative;/* 绝对定位 */
}
#big{
	margin:auto;
	width:1000px;
	height:500px;
	border:1px solid black;
}
#left{
	margin-left:100px;
	margin-top:100px;
	width:100px;
	height:200px;
	float:left;
	/*position:absolute;相对定位
	 margin-left:20px;
	margin-top:20px; */
	border:1px solid black;
}
#center{
	width:789px;
	height:400px;
	float:left;
	border:1px solid black;
}