<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>issue2</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>com.fei.servlet.DemoServlet</servlet-class>
        
    </servlet>
      <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
  
  
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>com.fei.servlet.insert</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Xiu</servlet-name>
        <servlet-class>com.fei.servlet.xiu</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Xiu</servlet-name>
        <url-pattern>/xiu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Zhu</servlet-name>
        <servlet-class>com.fei.servlet.zhuce</servlet-class>
    </servlet>  
      <servlet-mapping>
        <servlet-name>Zhu</servlet-name>
        <url-pattern>/zhu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Back</servlet-name>
        <servlet-class>com.fei.servlet.back</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Back</servlet-name>
        <url-pattern>/back</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Shan</servlet-name>
        <servlet-class>com.fei.servlet.shan</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Shan</servlet-name>
        <url-pattern>/shan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Fenye</servlet-name>
        <servlet-class>com.fei.servlet.fenye</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Fenye</servlet-name>
        <url-pattern>/fenye</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Up</servlet-name>
        <servlet-class>com.fei.servlet.up</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Up</servlet-name>
        <url-pattern>/up</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>Fa</servlet-name>
        <servlet-class>com.fei.servlet.fa</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Fa</servlet-name>
        <url-pattern>/fa</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>Back2</servlet-name>
        <servlet-class>com.fei.servlet.back2</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Back2</servlet-name>
        <url-pattern>/back2</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Cha</servlet-name>
        <servlet-class>com.fei.servlet.cha</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Cha</servlet-name>
        <url-pattern>/cha</url-pattern>
    </servlet-mapping>
     <filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>com.fei.servlet.EncodeFilter</filter-class>
        	<init-param>
        		<param-name>encode</param-name>
        		<param-value>UTF-8</param-value>
        	</init-param>
    </filter>
      <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>