<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>news</display-name>
  <resource-ref>
    <res-ref-name>jdbc/jndi</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>com.yu.servlet.filter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LOGIN</servlet-name>
    <servlet-class>com.yu.servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGIN</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.yu.servlet.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MAIN</servlet-name>
    <servlet-class>com.yu.servlet.main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MAIN</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ADD</servlet-name>
    <servlet-class>com.yu.servlet.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADD</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UPDATE</servlet-name>
    <servlet-class>com.yu.servlet.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPDATE</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>DELETE</servlet-name>
    <servlet-class>com.yu.servlet.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DELETE</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>